<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form *ngIf="newEndpointForm" [formGroup]="newEndpointForm">
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Endpoint Name</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="name">Endpoint Url</label>
                    <input type="text" class="form-control" formControlName="endpoint">
                </div>
                <div class="form-group">
                    <label for="name">Critial CPU Threshold</label>
                    <input type="number" class="form-control" formControlName="threshold">
                </div>
                <div class="form-group">
                    <label for="name">Query Frequency</label>
                    <input type="number" class="form-control" formControlName="frequency">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" (click)="onSubmit(newEndpointForm.value)" data-dismiss="modal">Add</button>
            </div>
        </form>
    </div>
</div>